<%- include("partials/header") %>

<section class="checkout-page">

    <h1>Checkout</h1>

    <div class="checkout-container">

        <!-- SHIPPING FORM -->

        <div class="checkout-form">

            <form
            action="/orders/place-order"
            method="POST">

               <input type="text" name="fullName" placeholder="Full Name" required>

<input type="email" name="email" placeholder="Email" required>

<input type="tel" name="phone" placeholder="Phone Number" required>

<input type="text" name="country" placeholder="Country" required>

<input type="text" name="state" placeholder="State" required>

<input type="text" name="city" placeholder="City" required>

<input type="text" name="zipCode" placeholder="ZIP Code" required>

<input type="text" name="landmark" placeholder="Landmark" >

<textarea name="address" placeholder="Full Address" required></textarea>

                <button type="submit">

                    Place Order

                </button>

            </form>

        </div>

        <!-- ORDER SUMMARY -->

        <div class="checkout-summary">

            <h2>Order Summary</h2>

            <% cart.forEach(item => { %>

                <div class="summary-item">

                    <span>
                        <%= item.product.name %>
                    </span>

                    <span>
                        x<%= item.quantity %>
                    </span>

                </div>

            <% }) %>

            <div class="summary-total">

                <h3>Total:</h3>

                <h3> ₹<%= total %></h3>
                

            </div>

            <br><hr><br>
            <h2 style="color: rgb(230, 36, 36);"> PAY AFTER CONFIRMATION</h2>

            
               
        </div>

    </div>

</section>

<%- include("partials/footer") %>