

<%- include("partials/header") %>

<section class="featured-products">

    <h2>All Products</h2>
    <br>

    <div class="products-grid">

        <% products.forEach(product => { %>

            <div class="product-card">

                <img

                src="<%= product.image %>"

                alt="">

                <h3>

                    <%= product.name %>

                </h3>

                <p>

                    ₹<%= product.price %>

                </p>

                <a
                href="/products/<%= product._id %>">

                    <button>

                        View Product

                    </button>

                </a>

            </div>

        <% }) %>

    </div>

</section>

<%- include("partials/footer") %>

